@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap");

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Add some styles for body*/
body {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Sora", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fafaf9;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  column-gap: 1.5rem;
}
.dragon-ball {
  background-color: #f5c044;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 36px;
  font-weight: medium;
}
.review-body {
  font-size: 20px;
  color: #52525a;
}
.item {
  margin-left: 24px;
  color: #52525a;
  list-style-image: url("../images/Done_ring_round_fill.svg");
}
@media screen and (min-width: 720px) {
  main {
    flex-direction: row;
  }
}
